<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <img src="{{member.photoUrl || 'assets/user.png'}}"
                     class="card-img-top img-thumbnail" alt="{{member.knownAs}}" style="height: 300px;">
                <div class="card-body">
                    <div>
                        <strong>Location:</strong>
                        <p>{{member.city}}, {{member.country}}</p>
                    </div>
                    <div>
                        <strong>Age:</strong>
                        <p>{{member.age}}</p>
                    </div>
                    <div>
                        <strong>Last active: </strong>
                        <p>{{member.lastActive + 'Z' | timeago}}</p>
                    </div>
                    <div>
                        <strong>Member since: </strong>
                        <p>{{member.created|date:'dd MMM YYYY'}}</p>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="btn-group d-flex">
                        <button class="btn btn-outline-danger me-3"(click)="addLike(member)"><i class="fa fa-heart"></i>Like</button>
                        <button (click)="selectTab('Messages')" class="btn btn-outline-success"><i class="fa fa-envelope" ></i>Messages</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <tabset class="member-tabset" #memberTabs>
                <tab heading="About {{member.knownAs}}" (selectTab)="onTabActivated($event)">
                    <h4>Description</h4>
                    <p>{{member.introduction}}</p>
                    <h4>Looking for</h4>
                    <p>{{member.lookingFor}}</p>
                </tab>
                <tab heading="Interests" (selectTab)="onTabActivated($event)">
                    <h4>Interests</h4>
                    <p>{{member.interests}}</p>
                </tab>
                <tab heading="Photos" #photoTab="tab" (selectTab)="onTabActivated($event)">
                    <gallery *ngIf="photoTab.active" [items]="images" class="gallery" thumbPosition="left"></gallery>
                </tab>
                <tab heading="Messages" (selectTab)="onTabActivated($event)">
                    <app-member-messages [userName]="member.userName" [messages]="messages"> </app-member-messages>
                </tab>
            </tabset>
        </div>
    </div>
</div>
