.card{
    border:none;
}
.chat{
    list-style: none;
    margin: 0;
    padding: 0;

}
.chat li{
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dotted #B3A9A9;
}
.rounded-circle{
    max-height: 50px;
    
}
.sender-username {
    /* Styles for sender's username */
    font-weight: bold;
    color: #336699; /* Change the color as needed */
    /* Add any other styles for the sender's username */
}

.receiver-username {
    /* Styles for receiver's username */
    font-weight: bold;
    color: #ff0000; /* Change the color as needed */
    /* Add any other styles for the receiver's username */
}

